.tube {
    width: 20px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    background-color: green;
    position: relative;
    margin: 5px auto;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    outline: black 1px solid;
    background: linear-gradient(
      to right,
      #4a90e2, /* Light blue */
      #4a90e2 0.5px,
      #5ba4ee 3px, /* Slightly lighter blue */
      #d0eaff 6px, /* Very light blue */
      #7fc7f7 10px, /* Sky blue */
      #4b9cd3 17px, /* Medium blue */
      #102a4c 100% /* Dark blue */
    );
    transition: height 0.3s ease, background-color 0.3s ease; /* Add transition for height and background-color */
}

.tube.comparing {
    background: linear-gradient(
      to right,
      #9c5757,
      #9c5757 0.5px,
      #ad6d6d 3px,
      #ffe8e8 6px,
      #d59191 10px,
      #b76565 17px,
      #2e1414 100%
    );
}

.tube.reference {
  background: linear-gradient(
    to right,
    #f4e04d, /* Light yellow */
    #f4e04d 0.5px,
    #f7e669 3px, /* Slightly lighter yellow */
    #fff9d6 6px, /* Very light yellow */
    #fde88b 10px, /* Sunny yellow */
    #f7d357 17px, /* Medium yellow */
    #4d3b10 100% /* Dark yellow-brown */
  );
}  


.tube.sorted {
  background: linear-gradient(
  to right,
  #579c66,
  #579c66 0.5px,
  #6dad7b 3px,
  #e9ffe8 6px,
  #9dd591 10px,
  #6bb765 17px,
  #142e16 100%
);
}

.tube::after {
    content: "";
    position: absolute;
    left:-5px;
    top: -10px;
    height: 10px;
    width: 30px;
    border-radius: 3px;
    border-bottom: solid 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    outline: black 1px solid;
    background: linear-gradient(
      to right,
      #4a90e2, /* Light blue */
      #4a90e2 1px,
      #5ba4ee 5px, /* Slightly lighter blue */
      #d0eaff 10px, /* Very light blue */
      #7fc7f7 15px, /* Sky blue */
      #4b9cd3 17px, /* Medium blue */
      #102a4c 100% /* Dark blue */
    );
    transition: height 0.3s ease, background-color 0.3s ease,; /* Add transition for height and background-color */
    
}

.tube.comparing::after{
    background: linear-gradient(
      to right,
      #9c5757,
      #9c5757 1px,
      #ad6d6d 5px,
      #ffe8e8 10px,
      #d59191 15px,
      #b76565 17px,
      #2e1414 100%
    );
}

.tube.sorted::after {
  background: linear-gradient(
    to right,
    #579c66,
    #579c66 1px,
    #6dad7b 5px,
    #e9ffe8 10px,
    #9dd591 15px,
    #6bb765 17px,
    #142e16 100%
  );
}

.tube.reference::after {
  background: linear-gradient(
    to right,
    #f4e04d, /* Light yellow */
    #f4e04d 1px,
    #f7e669 5px, /* Slightly lighter yellow */
    #fff9d6 10px, /* Very light yellow */
    #fde88b 15px, /* Sunny yellow */
    #f7d357 17px, /* Medium yellow */
    #4d3b10 100% /* Dark yellow-brown */
  );  
}


@keyframes swap {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.swapping {
    animation: swap 0.3s ease;
}


