@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0,0,0);
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:root {
  font-family: "Press Start 2P", cursive;
  line-height: 1.7;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom CSS for text border */
.text-border {
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.no-text-border {
  text-shadow: none;
}

@keyframes walk{
  0% {
    transform: translateX(-580%);
  }
  100% {
    transform: translateX(580%);
  }
}

.walk-animation {
  animation: walk 6s infinite linear; 
}

.image-rendering {
  image-rendering: pixelated;
}

.bg-tictactoe {
  background-image: url(/tictactoe/background/tictactoe-bg-2.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

