@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pixelated {
    image-rendering: pixelated;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:root {
  font-family: "Press Start 2P", cursive;
  line-height: 1.7;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom CSS for text border */
.text-border {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.no-text-border {
  text-shadow: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

@keyframes walk {
  0% {
    transform: translateX(-580%);
  }
  100% {
    transform: translateX(580%);
  }
}

.walk-animation {
  animation: walk 6s infinite linear;
}

.image-rendering {
  image-rendering: pixelated;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Add to your existing index.css file */
@keyframes pulse-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-effect {
  animation: pulse-effect 2s infinite;
}

/* Pixelated image rendering */
.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

